@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

/*
	Basic color scheme

	426fC5 = Blue
	00897b = Green
	f6774f = Orange
	e94043 = Red
*/

#app > .login {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	margin: 0;
	padding: 10px;
	width: 200px;
}

.login > form {
	align-items: center;
	color: #cff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 175px;
	text-shadow: 0 0 10px #0ff;
}

.login > form > label {
	display: flex;
	flex: 0.7;
	font-family: 'Open Sans';
	margin: 0 0 5px 0;
}

.login > form > label:not(:first-child) {
	margin: 5px 0 5px 0;
}

.login > form > input {
	align-self: stretch;
	border: 0;
	border-radius: 10em;
	display: flex;
	flex: 1;
	height: 40px;
	margin-top: 5px;
	outline: none;
	padding: 2px 5px;
}

.login > form input[type='text'],
.login > form input[type='password'] {
	background-color: rgba(255, 255, 255, 0.4);
	caret-color: #0ff;
	color: #0ff;
	text-indent: 10px;
}

.login .login-button {
	background-color: #426fc5;
	color: white;
	cursor: pointer;
	font-family: 'Open Sans';
	font-weight: bold;
	margin-top: 15px;
	overflow: hidden;
	padding: 4px 0;
	text-transform: uppercase;
	transition: all 0.75s ease;
}

.login .login-button:hover {
	background-color: #5691FF;
	color: #0ff;
	letter-spacing: 5px;
	transition: all 0.75s ease;
}

.login .error,
.login .error .dismiss-button {
	background-color: #600;
	border: 1px solid #f00;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 0 10px #ff0;
}

.login .error:hover,
.login .error .dismiss-button:hover {
	background-color: #a00;
	border: 1px solid #fff;
}

.login .error {
	align-items: center;
	border-radius: 10px;
	color: #f99;
	display: flex;
	font-size: 1em;
	justify-content: space-between;
	margin: 10px 0 0 0;
	padding: 5px 7px 5px 5px;
}

.login .error .dismiss-button {
	align-items: center;
	font-size: 0.8em;
	border-radius: 50%;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 30px;
}
