@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono');

#app .login {
	background-color: rgba(0, 0, 0, 0.67);
	border: 1px solid #000;
	border-radius: 10px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	margin: 0;
	padding: 10px;
	width: 200px;
}

.login > form {
	align-items: center;
	/* color: #9f0; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 175px;
	/* text-shadow: 0 0 10px #690; */
}

.login > form > label {
	display: flex;
	flex: 0.7;
	font-family: 'Nunito', sans-serif;
	margin: 0 0 5px 0;
}

.login > form > label:not(:first-child) {
	margin: 5px 0 5px 0;
}

.login > form > input {
	align-self: stretch;
	border: 0;
	border-radius: 10em;
	display: flex;
	flex: 1;
	height: 40px;
	margin-top: 5px;
	outline: none;
	padding: 2px 5px;
}

.login > form input[type='text'],
.login > form input[type='password'] {
	background-color: rgba(255, 255, 255, 0.4);
	caret-color: #9f0;
	color: #ff0;
	text-indent: 10px;
}

.login .login-button {
	/* background-color: #426fc5; */
	background-color: #00897b;
	border: 1px solid #000;
	color: #333;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 15px;
	overflow: hidden;
	padding: 4px 0;
	transition: all 0.75s ease;
}

.login .login-button:hover {
	/* background-color: #5691FF; */
	background-color: #03beac;
	border-color: #fff;
	color: #fff;
	letter-spacing: 5px;
	transition: all 0.75s ease;
}

/* TODO: Figure out why removing outline seems to not work */
/*
.login .login-button:focus,
.login .login-button::-moz-focus-inner,
.login .login-button::-moz-focus-outer {
	outline: none;
}
*/

.login .error,
.login .error .dismiss-button {
	background-color: #600;
	border: 1px solid #f00;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 0 10px #ff0;
}

.login .error:hover,
.login .error .dismiss-button:hover {
	background-color: #a00;
	border: 1px solid #fff;
}

.login .error,
.login .success {
	align-items: center;
	border-radius: 10px;
	color: #f99;
	display: flex;
	font-size: 1em;
	justify-content: space-between;
	margin: 10px 0 0 0;
	padding: 5px 7px 5px 5px;
}

.login .error .dismiss-button {
	align-items: center;
	font-size: 0.8em;
	border-radius: 50%;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 30px;
}

.login .success {
	background-color: #060;
	border: 1px solid #0f0;
	color: #fff;
	cursor: pointer;
	justify-content: center;
	text-align: center;
	text-shadow: 0 0 10px #0f0;
}

.login .success:hover {
	background-color: #0a0;
	border: 1px solid #fff;
}
