@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

/*
	Basic color scheme

	426fC5 = Blue
	5691FF = Highlight Blue
	00897b = Green
	f6774f = Orange
	e94043 = Red
*/

body {
	margin: 0;
	padding: 0;
}

body *:focus,
body *::-moz-focus-inner {
	outline: none;
}

#page-container {
	background-color: rgba(255, 128, 0, 0.8);
	background: linear-gradient(0deg, #ff8000, #ffc000);
	min-height: 100vh;
	position: relative;
}

#header {
	top: 0;
	color: #333;
	font-family: 'Open Sans';
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 2px;
	height: 5rem; /* Header height */
	position: absolute;
	text-align: center;
	width: 100%;
}

#nav-bar {
	font-family: 'Open Sans';
	height: 2rem; /* NavBar height */
	width: 100%;
}

#nav-bar a,
#nav-bar a:hover,
#nav-bar a:visited {
	background-color: rgba(255, 255, 255, 0.5);
	color: #333;
	cursor: auto;
	text-decoration: none;
}

#nav-bar a:hover {
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

#nav-bar a {
	align-content: center;
	border: 1px dashed #000;
	border-radius: 10px;
	display: grid;
	height: 100%;
	text-align: center;
	width: 8rem;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
	padding-top: 7rem; /* Header height + NavBar height */
}

#footer {
	bottom: 0;
	color: #333;
	font-family: 'Open Sans';
	font-size: 0.8em;
	letter-spacing: 2px;
	height: 2.5rem; /* Footer height */
	position: absolute;
	width: 100%;
}

#all-monster-page h1 {
	display: grid;
	text-align: center;
	width: 100%;
}

@supports (display: grid) {
	#page-container {
		display: grid; /* new */
		grid-template-columns: 100%; /* new */
		grid-template-rows: 5rem 2rem auto 2.5rem; /* new */
		grid-row-gap: 1px;
		position: static; /* override */
	}

	#content-wrap {
		align-items: center;
		display: grid;
		justify-items: center;
		padding-bottom: 0; /* override */
		padding-top: 0; /* override */
	}

	#header {
		align-items: center;
		display: grid;
		height: auto;
		justify-items: center;
		position: static; /* override */
	}

	#nav-bar {
		display: grid;
		grid-column-gap: 10px;
		grid-template-columns: 1fr 1fr;
		height: auto;
		justify-items: center;
	}

	#footer {
		align-items: center;
		display: grid;
		height: auto;
		justify-items: center;
		position: static; /* override */
	}
}

/* #app {
	align-self: stretch;
	background-color: rgba(0, 0, 200, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 50px;
	overflow-y: hidden;
}

#app > * {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 10px;
} */
